



/* Basic Grey
    src: http://www.sanwebe.com/2013/10/css-html-form-styles;
 */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: auto;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #575757;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
    color:#888;
}

.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}/*
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}*/


/*added*/

.basic-grey h2 {
    font-size: 18px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 10px -10px;;
    color: #888;
}
.basic-grey h2>span {
    display: block;
    font-size: 11px;
}

.basic-grey>p{
    padding-left:40px;
}

.basic-grey .customTable{
    border:1px solid #c9c9c9;
    width: 100%;
}
.basic-grey .customTable td{
    text-align:center;    
}

.basic-grey .nominee{
    /*display: inline;*/
    padding-left:40px;
}

.nominee>.card{
    background: #c9c9c9;
    float:left;
    /*border:1px solid #c9c9c9;*/
    padding:5px;
    margin: 2px;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.nominee>.card img{
    display:block;
    margin:auto;
}
.nominee>.card>.name{
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.nominee>.card>.button{
    width: 100%;
}

.nominee>.card>.voted{
    width: 100%;
    text-align: center;
    padding:2px;
    font-weight: bold;
    color:green;
}

.nominee>.card>.username{
    text-align: center;
} 

.basic-grey .redBorder{
    border-color: #e74e4e;
}